<div class="modal-header">
    <h3 class="modal-title" id="modal-title">CSV</h3>
</div>
<div class="modal-body" id="modal-body">
    <table class="table table-striped pre-scrollable">
        <thead>
            <tr>
                <th ng-repeat="header in $ctrl.data.headers">
                    {{header}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in $ctrl.data.body">
                <td ng-repeat="col in row track by $index">
                    {{col}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
</div>