<h2>Summary</h2>

<h3>Summary Table</h3>
<div class="row pre-scrollable">
    <table class="table table-striped">
        <thead>
            <tr>
                <th ng-repeat="(short_name, path) in summary.headers">{{ short_name }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in summary.data">
                <td ng-repeat="(short_name, path) in summary.headers">{{ row[path.group][path.name].value }}</td>
            </tr>
        </tbody>
    </table>
</div>