<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Graph</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <canvas class="chart chart-base" chart-type="$ctrl.graph.type" chart-data="$ctrl.graph.data" chart-labels="$ctrl.graph.labels"
            chart-series="$ctrl.graph.series" chart-options="$ctrl.graph.options_big">
        </canvas>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    </div>
</script>

<h2>Variable : {{id}}</h2>

<div class="row" ng-repeat-start="(group_name, metrics) in graphs">
    <h3 class="capitalize">{{group_name | prettyName}}</h3>
</div>
<div class="col-sm-6" ng-repeat="(metric, graph_data) in metrics">
    <canvas class="chart chart-base" chart-type="graph_data.type" chart-data="graph_data.data" chart-labels="graph_data.labels"
        chart-series="graph_data.series" chart-options="graph_data.options" ng-click="open(graph_data)">
    </canvas>
</div>
<div class="row" ng-repeat-end="">
    <hr />
</div>