<h2>Variable : {{id}}</h2>

<div class="row" ng-repeat="(group_name, group_data) in graphs.graphs">
    <details>
        <summary>
            <span class="h3 capitalize">{{group_name | prettyName}}</span>
        </summary>
        <h3>{{group_name}}</h3>
        <div class="col-sm-6" ng-repeat="(graph_name, graph_data) in group_data">
            <canvas class="chart chart-base" chart-type="graph_data.type" chart-data="graph_data.data" chart-labels="graph_data.labels"
                chart-series="graph_data.series" chart-options="graph_data.options" ng-click="open_graph(graph_data)">
            </canvas>
            <br/>
            <a href="" ng-click="open_csv(graphs.data[group_name][graph_name])">View CSV data</a> &nbsp;&nbsp;
            <a href="" ng-click="download_csv(group_name + '-' + graph_name,  graphs.data[group_name][graph_name])">Download CSV data</a>
        </div>
    </details>
</div>
